[submodule "alg"]
	path = alg
	url = https://github.com/galois-advertising/alg
	branch = develop
[submodule "common"]
	path = common
	url = https://github.com/galois-advertising/common
	branch = master
